<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Laminarea podelei</title>
    {% if dark_mode %}
    <link
      href="{{ url_for('static', filename='css/dark/bootstrap.css') }}"
      rel="stylesheet"
    />
    {% else %}
    <link
      href="{{ url_for('static', filename='css/light/bootstrap.css') }}"
      rel="stylesheet"
    />
    {% endif %}
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='matimutica.png') }}"
    />
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div id="formular">
        <div class="row my-1">
          <div class="col-sm input-group">
            <label class="input-group-text" for="pretLucrator"
              >Pret montaj</label
            >
            <input
              class="form-control"
              id="pretLucrator"
              type="number"
              step="0.1"
              min="0"
              onchange="checkNumber(this)"
            /><br />
            <span class="input-group-text">lei</span>
          </div>
          <div class="col-sm input-group">
            <label class="input-group-text" for="pretRulon">Pret tapete</label>
            <input
              class="form-control"
              id="pretRulon"
              type="number"
              step="0.1"
              min="0"
              onchange="checkNumber(this)"
            /><br />
            <span class="input-group-text">lei</span>
          </div>
        </div>
        <h4>Dimensiunile peretilor</h4>
        <ol class="list-group list-group-numbered" id="pereti">
          <li
            class="list-group-item d-flex justify-content-between align-items-start"
          >
            <div class="row ms-2 me-auto">
              <div class="col-sm input-group">
                <label class="input-group-text" for="lungimea">Inaltimea</label>
                <input
                  class="form-control"
                  type="number"
                  step="0.1"
                  min="0"
                  onchange="checkNumber(this)"
                /><br />
                <span class="input-group-text">m</span>
              </div>
              <div class="col-sm input-group">
                <label class="input-group-text" for="latimea">Latimea</label>
                <input
                  class="form-control"
                  type="number"
                  step="0.1"
                  min="0"
                  onchange="checkNumber(this)"
                /><br />
                <span class="input-group-text">m</span>
              </div>
            </div>
          </li>
        </ol>
      </div>
      <div
        class="btn-group my-2"
        role="group"
        aria-label="Basic outlined example"
      >
        <button class="btn btn-outline-secondary" onclick="addWall()">
          Adaugă perete
        </button>
        <button class="btn btn-outline-secondary" onclick="rmWall()">
          Distruge perete
        </button>
        <button onclick="clearInputs()" class="btn btn-outline-primary">
          Șterge valori
        </button>
        <button onclick="calcPrets()" class="btn btn-outline-primary">
          Calculati
        </button>
      </div>
      <div class="card my-2">
        <div class="card-header">Pret calculat</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Pretul Tapete:</h6>
          <p class="card-text">
            E necesar de <span id="nrTapete"></span> ruloane de
            <span id="dimRulon"></span> m, la pret de
            <span id="pretRulonlbl"></span> lei
          </p>

          <p class="card-text">
            Pretul total pentru tapete <span id="pretTapete"></span> lei
          </p>
          <h6 class="card-subtitle mb-2 text-muted">Pret Clei:</h6>
          <p class="card-text">
            E necesar <span id="nrCutii"></span> cutii de clei, la pret de
            <span id="pretCutie"></span> lei
          </p>
          <p class="card-text">
            Pret total pentru clei <span id="pretClei"></span>
          </p>
          <h6 class="card-subtitle mb-2 text-muted">Pretul Muncitori:</h6>
          <p class="card-text">
            E necesar <span id="nrMunca"></span> m<sup>2</sup> de munca la pret
            de <span id="pretMunca"></span> lei, pretul total fiind
            <span id="pretMuncitori"></span> lei
          </p>
          <h6 class="card-subtitle mb-2 text-muted">Pretul Total:</h6>
          <p class="card-text"><span id="rezultatCalculati"></span></p>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='js/calcule.js') }}"></script>
  </body>
</html>
